@layout AuthLayout
@attribute [AllowAnonymous]
@page "/login"
<div class="card-body">
    <center class="mb-4">
        <MudIcon Style="width:100px;height:100px" 
                 Color="Color.Primary"
                 Size="Size.Large" 
                 Icon="@Icons.Material.Filled.AccountCircle" />
    </center>
    <EditForm Model="@tokenRequest" 
              OnInvalidSubmit="ModelInvalid"
              OnValidSubmit="SubmitAsync">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <DataAnnotationsValidator />
        <MudTextField T="string"
                      @bind-Value="@tokenRequest.UserName"
                      Placeholder="user name"
                      InputMode="InputMode.text"
                      Label="User Name"
                      Clearable="true"
                      For="@(()=>tokenRequest.UserName)"
                      Variant="Variant.Outlined"
                      Class="my-6">
        </MudTextField>

        <MudTextField @bind-Value="@tokenRequest.Password"
                      Label="Password"
                      Placeholder="placeholder"
                      Variant="Variant.Outlined"
                      InputType="@PasswordInput"
                      Adornment="Adornment.End"
                      For="@(()=>tokenRequest.Password)"
                      AdornmentIcon="@PasswordInputIcon"
                      OnAdornmentClick="TogglePasswordVisibility" />


        <div Class="d-flex justify-space-between align-center">
            <MudCheckBox @bind-Checked="@tokenRequest.RememberMe" T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>
            <MudLink @onclick="ForgotPass">Forgot password?</MudLink>
        </div>


        <MudButton title="Login now" ButtonType="MudBlazor.ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true">Sign In</MudButton>
        @if (forgotPass)
        {
            <MudAlert Dense="true" ShowCloseIcon="true" CloseIconClicked="ForgotPass" Class="mt-4" Variant="Variant.Filled" Severity="Severity.Info">Please contact your group admin.</MudAlert>
        }
    </EditForm>

</div>
<PageTitle>Login - Village Banking Management System</PageTitle>