@layout AuthLayout
@page "/login"
<div class="card-body">
    <h3 class="text-center text-white font-weight-light mb-4">LOG IN</h3>
    <EditForm Model="@tokenRequest" OnValidSubmit="SubmitAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <DataAnnotationsValidator />
    <MudTextField T="string" 
                  @bind-Value="@tokenRequest.Email" 
                  Placeholder="e.g staff@cbu.ac.zm" 
                  Label="E-mail" 
                  For = "@(()=>tokenRequest.Email)"
                  Variant="Variant.Outlined" 
                  Class="my-6">
     </MudTextField>

    <MudTextField @bind-Value="@tokenRequest.Password" 
                  Label="Password" 
                  Variant="Variant.Outlined" 
                  InputType="@PasswordInput" 
                  Adornment="Adornment.End"
                  For = "@(()=>tokenRequest.Password)"
                  AdornmentIcon="@PasswordInputIcon" 
                  OnAdornmentClick="TogglePasswordVisibility" />


    <div Class="d-flex justify-space-between align-center">
        <MudCheckBox T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>
        <MudLink Href="/forgot-password">Forgot pwd?</MudLink>
    </div>


    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"  Size="Size.Large" FullWidth="true">Sign In</MudButton>
</EditForm>
    <div class="d-flex justify-content-between mt-4">
        <p class="text-white text-center font-weight-light">Forgot password?</p>
        
    </div>
</div>
