@layout AuthLayout
@attribute [AllowAnonymous]
@page "/register"
<div class="card-body">
    <h3 class="text-center font-weight-light mb-2">REGISTER</h3>
    <EditForm Model="RegisterModel"
              OnValidSubmit="Process"
              OnInvalidSubmit="ModelInvalid">
       <DataAnnotationsValidator/>
       <MudGrid Class="mb-3" Justify="Justify.SpaceBetween" Spacing="2">
            <MudItem xs="12" sm="6">
                <MudTextField T="string" 
                              @bind-Value="@RegisterModel.FirstName"
                              For="(()=>RegisterModel.FirstName)"
                              Variant="Variant.Outlined" 
                              Label="First Name" 
                              Clearable="true" 
                              />          
            </MudItem>
            <MudItem xs="12" sm="6">
                 <MudTextField T="string" 
                              @bind-Value="@RegisterModel.UserName"
                              For="(()=>RegisterModel.UserName)"
                              Variant="Variant.Outlined" 
                              Label="User Name" 
                              Clearable="true" 
                              />      
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField T="string"
                              @bind-Value="@RegisterModel.LastName"
                              For="(()=>RegisterModel.LastName)"
                              Variant="Variant.Outlined" 
                              Label="Last Name" 
                              Clearable="true" />  
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField T="string"
                              @bind-Value="@RegisterModel.Email"
                              For="(()=>RegisterModel.Email)"
                              InputMode="InputMode.email"
                              Variant="Variant.Outlined" 
                              Label="E-mail" 
                              Clearable="true" />  
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField T="string" 
                              @bind-Value="@RegisterModel.PhoneNumber"
                              For="(()=>RegisterModel.PhoneNumber)"
                              InputType="InputType.Telephone" 
                              InputMode="InputMode.tel" 
                              Variant="Variant.Outlined" 
                              Label="Phone Number" 
                              Clearable="true" />  
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField T="string" 
                              @bind-Value="@RegisterModel.GroupName"
                              For="(()=>RegisterModel.GroupName)"
                              Variant="Variant.Outlined" 
                              Label="Village Group Name" 
                              Clearable="true" />  
            </MudItem>
            <MudItem xs="12" sm="6">
                 <MudTextField T="string" 
                              @bind-Value="@RegisterModel.GroupPhoneNumber"
                              For="(()=>RegisterModel.GroupPhoneNumber)"
                              Variant="Variant.Outlined" 
                              Label="Group Telephone Number"
                              InputMode="InputMode.tel"
                              Clearable="true" 
                              />      
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudSelect T="VillageGroupRole"
                            @bind-Value="@RegisterModel.Role"
                            For="(()=>RegisterModel.Role)"
                            Variant="Variant.Outlined"
                            MultiSelection="true"
                            @bind-SelectedValues="villageGroupRoles"
                            Label="Your Role(s)">
                 @foreach (VillageGroupRole item  in  Enum.GetValues(typeof(VillageGroupRole)))
                 {
                       <MudSelectItem T="VillageGroupRole" Value="@item">@item.ToString()</MudSelectItem>
                 }
                        
                </MudSelect>

            </MudItem>
            <MudItem xs='12' sm="6">
                <MudTextField T="string" 
                              @bind-Value="@RegisterModel.Password"
                              For ="(()=>RegisterModel.Password)"
                              InputType="InputType.Password" 
                              Variant="Variant.Outlined" 
                              Label="Password" />
            </MudItem>
            <MudItem xs='12' sm='6'>
                <MudTextField T="string" 
                              @bind-Value="@RegisterModel.ConfirmPassword"
                              For = "(()=>RegisterModel.ConfirmPassword)"
                              InputType="InputType.Password" 
                              Variant='Variant.Outlined' 
                              Label="Confirm Password" />
            </MudItem>
       </MudGrid>
       <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"  Size="Size.Large" FullWidth="true">Sign Up</MudButton>
    </EditForm>
   
</div>
