@inherits LayoutComponentBase
<main class="login-page">
    <header class="miri-ui-kit-header header-no-bg-img header-navbar-only">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/images/logo_icon.svg" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#miriUiKitNavbar"
                    aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                    <MudIcon Icon="@Icons.Material.Filled.Menu"></MudIcon>
                </button>
            
                <div class="collapse navbar-collapse" id="miriUiKitNavbar">
                    <div class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">About</a>
                        </li>
            
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                                 
                        <li class="nav-item">

                            <a class="nav-link nav-icon icon-fb" href="#"><MudIcon Icon="@Icons.Material.Filled.Facebook"></MudIcon></a>

                            <a class="nav-link nav-icon icon-twitter" href="#"><MudIcon Icon="@Icons.Custom.Brands.Instagram"></MudIcon></a>
 
                            <a class="nav-link nav-icon icon-insta" href="#"><MudIcon Icon="@Icons.Custom.Brands.WhatsApp"></MudIcon></a>
                            
                        </li>
            
                        <form action="#" class="form-inline ml-lg-3">
                            <button title="Register a group" class="btn btn-danger">Join Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>
   <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 75vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="20" Class="pa-4" Width="100%" MaxWidth="600px">
            @Body
        </MudPaper>
        <MudAlert Severity="Severity.Info" Class="mt-4 mud-width-full" Style="max-width:500px;" >No authentication is required, click sign in.</MudAlert>
    </div>
 </MudContainer>

    <footer>
        <div class="container">
            <nav class="navbar navbar-dark bg-transparent navbar-expand footer-navbar d-block d-sm-flex text-center">
                <span class="navbar-text">&copy; @(DateTime.Now.Year) Village Bank MS. All rights reserved.</span>
                <div class="navbar-nav ml-auto justify-content-center">
                    <a href="#" class="nav-link">Support</a>
                    <a href="#" class="nav-link">Terms</a>
                    <a href="#" class="nav-link">Privacy</a>
                </div>
            </nav>
        </div>
    </footer>
   
</main>
