@inherits LayoutComponentBase
@attribute [AllowAnonymous]
<header class="miri-ui-kit-header landing-header header-bg-2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-on-scroll">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="images/logo_icon.svg" alt="logo"><span></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#miriUiKitNavbar"
                    aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                <span><MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.Menu"></MudIcon></span>
            </button>

            <div class="collapse navbar-collapse" id="miriUiKitNavbar">
                <div class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank"><span>Contact</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="index.html">About Us</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            More
                        </a>
                        <div class="dropdown-menu dropdown-menu-right ">
                            <a href="#" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-shape-outline"></i>Admin Login</a>
                            <a href="/admin/dashboard" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-lock-outline"></i>Dashboard</a>
                            <a href="#" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-shield-account-outline"></i>Member Login</a>
                        </div>
                    </li>

                    <li class="nav-item">

                        <a class="nav-link nav-icon icon-fb" href="#"><i class="mdi mdi-facebook-box"></i></a>

                        <a class="nav-link nav-icon icon-twitter" href="#"><i class="mdi mdi-twitter-box"></i></a>

                        <a class="nav-link nav-icon icon-insta" href="#"><i class="mdi mdi-instagram"></i></a>

                    </li>

                    <form action="#" class="form-inline ml-lg-3">
                        @if (!isSignedIn)
                        {
                            <a href="login" title="Already a member? Login" class="btn btn-danger">Login Now</a>
                        }
                        else
                        {
                            <a href="logout" @onclick='(()=>snackBar.Add("Logout Success",Severity.Success))' title="Sign out if the application" class="btn btn-primary">Logout</a>
                        }
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="miri-ui-kit-header-content text-center text-white d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-3 text-white">Village Banking Management System</h1>
        <p class="h3 font-weight-light text-white">Working together toward a common goal. Alive and prospering.</p>
        <p class="mt-4">
            @if (!isSignedIn)
            {
                <a href="register" title="Register as a village group" class="btn btn-danger btn-pill mr-2">
                    Join Now
                </a>
            }
            else
            {
               <a href="/dashboard" title="View your dashboard" class="btn btn-danger btn-pill mr-2">
                    Dashboard
                </a> 
            }
            <button title="Apply for a loan from your group" class="btn btn-success btn-pill">Apply for a Loan</button>
        </p>
    </div>
</header>

<section class="miri-ui-kit-section mt-5">
    <div class="container">
        <div class="d-md-flex justify-content-between row">

            <div class="feature-box px-3">
                <span class="card-icon bg-danger text-white rounded-circle"><MudIcon Class="text-white" Size="Size.Large" Icon="@Icons.Material.Filled.Money"></MudIcon></span>
                <h3 class="mb-3">Online Banking</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>


            <div class="feature-box px-3">
                <span class="card-icon bg-success text-white rounded-circle">
                    <MudIcon Class="text-white" Size="Size.Large" Icon="@Icons.Material.Filled.Analytics"></MudIcon>
                </span>
                <h3 class="mb-3">Financial Analyis</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>


            <div class="feature-box px-3">
                <span class="card-icon bg-primary text-white rounded-circle"><MudIcon Class="text-white" Size="Size.Large" Icon="@Icons.Material.Filled.CardMembership"></MudIcon></span>
                <h3 class="mb-3">Membership Management</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>

        </div>
    </div>
</section>
<section class="miri-ui-kit-section how-we-work-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-warning mb-3">HOW WE WORK</h5>
                <h2 class="h1 font-weight-semibold mb-4">
                    Achieve prosperity with an all-in-one digital solution for village banks.
                </h2>
                <p class="mb-5">
                    We help village banks manage their members, loan lifecycle and time-consuming task such as tracking repayments. We provide a complete solution to help in validating memberships and loan applications and determine eligibility.
                </p>
                <p>
                    <button class="btn btn-rounded btn-danger raise-on-hover" data-toggle="lightbox" data-target="#demoVideoLightbox"><i class="mdi mdi-play"></i></button><span class="button-label text-danger font-weight-medium ml-3">SEE HOW WE WORKS</span>
                </p>
            </div>
            <div class="col-md-6 d-md-flex justify-content-end">
                <div class="card bg-dark text-white count-card">
                    <img src="images/count-card-bg.jpg" alt="about 1" class="card-img">
                    <div class="card-img-overlay">
                        <div class="count-box bg-success text">
                            <span class="h2 text-white">30+</span>
                            <span class="font-weight-medium">Village Banks</span>
                        </div>
                        <div class="count-box bg-danger">
                            <span class="h2 text-white">1323</span>
                            <span class="font-weight-medium">Members</span>
                        </div>
                        <div class="count-box bg-warning">
                            <span class="h2 text-white">53,981</span>
                            <span class="font-weight-medium">Revenue</span>
                        </div>
                        <div class="count-box bg-primary">
                            <span class="h2 text-white">300</span>
                            <span class="font-weight-medium">Loan Applications</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="miri-ui-kit-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h5 class="text-warning mb-3">About us</h5>
                <h2 class="h1 font-weight-semibold mb-4">
                    Meet our business partners who work behind the scene.
                </h2>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed esse doloremque
                    nostrum, fuga fugit minima quod delectus magni explicabo quis aliquam laborum molestiae sint
                    voluptatum ea beatae sunt rerum! Saepe.
                </p>
                <p><button class="btn btn-primary">Learn more</button></p>
            </div>
            <div class="col-md-6 text-right"><img src="images/about.png" alt="About" class="img-fluid"></div>
        </div>
    </div>
</section>
<section class="miri-ui-kit-section pricing-section">
    <div class="container">
        <h2>Choose a Membership Plan</h2>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="card-group">
            <div class="card text-center">
                <div class="card-body p-5">
                    <h4>Free</h4>
                    <p>Achieve virtually any design and layout from with in the</p>
                    <p>
                        <button class="btn btn-primary">ChoosePlan</button>
                    </p>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body p-5">
                    <h4>Premium</h4>
                    <p>Achieve virtually any design and layout from with in the</p>
                    <p>
                        <button class="btn btn-danger">ChoosePlan</button>
                    </p>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body p-5">
                    <h4>Business</h4>
                    <p>Achieve virtually any design and layout from with in the</p>
                    <p>
                        <button class="btn btn-success">ChoosePlan</button>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="miri-ui-kit-section contact-section">
    <div class="container">
        <h2 class="text-center mb-4">Work with us</h2>
        <p class="text-center mb-4 pb-3">
            If there is something we can help you with, just let us know. We'll <br />
            be more than happy to offer you our
            help.
        </p>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/" class="contact-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-pill" placeholder="Default">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-pill"
                                   placeholder="Email@example.com">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-pill" placeholder="Contact-number">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="submit" value="Send Message" class="btn btn-block btn-pill btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <MudGrid Justify="Justify.SpaceBetween">
        <MudItem md="4" sm="12" Class="footer-navigation">
            <MudText Typo="Typo.h4" Class="text-white">VBMS Zambia</MudText>
            <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>

        </MudItem>
        <MudItem md="4" sm="12" Class="footer-contacts">
            <div>
                <span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">21 Riverside, Kitwe</span>Copperbelt, ZAMBIA</p>
            </div>
            <div>
                <i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> +260 969 394549</p>
            </div>
            <div>
                <i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">support@villagebanking.com</a></p>
            </div>
        </MudItem>
        <div class="clearfix"></div>
        <MudItem xs="12" sm="4" Class="footer-about">
            <h4>About the company</h4>
            <p>VBMS is a Zambian leading Village Banking Software.</p>
            <div class="social-links social-icons">
                <a href="#"><MudIcon Icon="@Icons.Material.Filled.Facebook" /></a>
                <a href="#"><MudIcon Icon="@Icons.Custom.Brands.Twitter" /></a>
                <a href="#"><MudIcon Icon="@Icons.Custom.Brands.LinkedIn" /></a>
                <a href="#"><MudIcon Icon="@Icons.Custom.Brands.WhatsApp" /></a>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudText Align="Align.Start" Style="font-size:smaller;" Class="text-muted mt-6">VBMS Zambia Copyright © @(DateTime.Now.Year) All rights reserved</MudText>
        </MudItem>
    </MudGrid>

</footer>
<PageTitle>Home - Village Banking Management System</PageTitle>
@code {

    [CascadingParameter] protected Task<AuthenticationState> AuthenticationStateTask { get; set; }
    bool isSignedIn;
    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateTask).User;
        if (user.Identity.IsAuthenticated)
        {
            isSignedIn = true;
            snackBar.Add($"Welcome {await userService.GetFullName(user.Identity.Name)}", Severity.Success);
        }
    }
}

