<MudDialog>
    <DialogContent>
        <EditForm id="editForm" Model="@Model" OnValidSubmit="Submit" OnInvalidSubmit="ModelInvalid">
            <FluentValidationValidator />
            <DataAnnotationsValidator />
            <MudGrid Spacing="3" Justify="Justify.SpaceBetween">
             <MudItem xs="12" md="6">
                 <MudSelect T="int"
                            @bind-Value="@Model.InvestorId"
                            For="()=>Model.InvestorId"
                            Required="true"
                            Variant="Variant.Outlined"
                            Clearable="(!IsEditing)"
                            ReadOnly="(IsEditing)"
                            Label="Investor">
                            @foreach (var item in groupMemberships)
                            {
                              <MudSelectItem T="int" Value="@item.Id">@item.PersonalDetails.FirstName  @item.PersonalDetails.LastName (@item.PersonalDetails.NrcNumber)</MudSelectItem>
                            
                            }
                 </MudSelect>
             </MudItem>
             <MudItem xs="12" md="6">
                  <MudNumericField @bind-Value="Model.AmountInvested"
                                     T="decimal"
                                     For="()=>Model.AmountInvested"
                                     Format="N2" Culture="@_en"
                                     Min="0"
                                     HideSpinButtons="true"
                                     Immediate="true"
                                     Adornment="Adornment.End" AdornmentText="ZMW"
                                     Label="Amount Invested"
                                     Variant="Variant.Outlined" />
             </MudItem>
             <MudItem xs="12" md="6">
                 <MudDatePicker @bind-Date="Model.DateInvested" 
                                    Variant="Variant.Outlined"
                                    Label="Date Invested"                                    
                                    Rounded="true"
                                    Elevation="20"
                                    Required="true"
                                    /> 
             </MudItem>
             <MudItem xs="12" md="6">
                   @if (periods.Any())
                    {
                        <MudSelect T="int"
                               For="(()=>Model.InvestmentPeriodId)"
                               Immediate="true"
                               @bind-Value="@Model.InvestmentPeriodId"
                               Variant="Variant.Outlined"
                               Placeholder="Choose .."
                               Label="Investment Period"
                               Required="true">
                            @foreach (var item in periods)
                            {
                                <MudSelectItem T="int" Value="@item.Id">@(Convert.ToDateTime(item.BeginDate).ToShortDateString()) - @(Convert.ToDateTime(item.EndDate).ToShortDateString())</MudSelectItem>
                            }
                        </MudSelect>
                    }
                    else
                    {
                        <MudAlert Severity="Severity.Warning" Variant="Variant.Filled" Dense="true">No investment periods have been opened for this group . <a class="active" href="/settings/investment-periods">Click here to open</a></MudAlert>
                    }
             </MudItem>
            </MudGrid>
        </EditForm>
    </DialogContent>
    <DialogActions>
        @if (periods.Any())
        {
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton ButtonType="ButtonType.Submit" UserAttributes="@_attri" StartIcon="@Icons.Material.Filled.Save" Color="Color.Success" Variant="Variant.Filled">Save</MudButton>
        }
        else
        {
            <MudButton OnClick="Cancel">Close</MudButton>
        }
    </DialogActions>
</MudDialog>
