<MudDialog>
    <DialogContent>        
        <MudGrid Spacing="3" Justify="Justify.SpaceBetween">
            <MudItem xs="12" sm="6">
                <table class="table table-hover table-striped table-sm">
                   <thead>
                       <tr>
                           <th></th>
                           <th></th>
                       </tr>
                   </thead> 
                   <tbody>
                       <tr><td class="font-bold"><strong>Applicant:</strong></td><td>@Model.Applicant.PersonalDetails.FirstName @Model.Applicant.PersonalDetails.LastName</td></tr>
                       <tr><td class="font-bold"><strong>Reputation: </strong></td></tr>
                       <tr><td class="font-bold"><strong>Date Submitted:</strong></td><td>@(Model.DateSubmitted.ToString("MMMM yyyy H:mm"))</td></tr>
                       <tr><td class="font-bold"><strong>Requested Amount:</strong></td><td>@(Model.RequestedAmount.ToString("N2")) ZMW</td></tr>
                       <tr><td class="font-bold"><strong>Loan Type:</strong></td><td>@(Model.LoanType.LoanName)</td></tr>
                       <tr><td class="font-bold"><strong>Interest Rate:</strong></td><td>@(Model.InterestRate.InterestRate) %</td></tr>
                       <tr><td class="font-bold"><strong>Payback Duration:</strong></td><td>@Model.InterestRate.PaybackDuration  @(Model.InterestRate.PaybackDuration<=1? "week":"weeks")</td></tr>
                       
                   </tbody>
                </table>
            </MudItem>
        </MudGrid>       
    </DialogContent>
    <DialogActions>
      
            <MudButton OnClick="Cancel">Cancel</MudButton>
       
        <MudButton StartIcon="@Icons.Material.Filled.Save" Color="Color.Success" Variant="Variant.Filled" >Save</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [Parameter] public LoanApplication Model { get; set; } 
    [CascadingParameter] MudDialogInstance DialogInstance { get; set; }

    void Cancel() => DialogInstance.Cancel();

    async Task Submit()
    {
        
    }

}
